@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
/* Dispositivos pequenos (tablets de retrato e telefones grandes, 600px e acima) */
@media screen and (min-width: 768px) {
    body {
        background-color: red;
    }

   

    
}



/* Large devices (laptops/desktops, 992px and up) */
/* Dispositivos grandes (laptops/desktops, 992px e up) */
@media only screen and (min-width: 1100px) {
    body {
        background-color: aqua;
    }
}

