* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: gray;
}

/* Dispositivos extra pequenos (telefones, 600px e abaixo) */

@media screen and (max-width: 600px) {

    header h2 {
        text-align: center;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;
    }

    span#burguer {
        background-color: rgb(56, 58, 58);
        display: block;
        color: white;
        text-align: center;
        padding: 5px;
        font-size: 40px;
        cursor: pointer;
    }

    span#burguer:hover {
        background-color: white;
        color: black;
    }

   

    nav {
        width: 100%;
        height: auto;
        background-color: rgb(102, 102, 100);
        display: none;
    }

    nav ul {
        text-align: center;
        color: white;
        font-size: 18px;
        list-style: none;
        
    }

    nav ul li {
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-bottom: 1px solid white;
    }

    nav ul li:hover {
        background-color: rgb(172, 169, 169);
        
    }

    nav ul li a{
        color: white;
        text-decoration: none;
        
    }



}