* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #080c31;
    overflow-x: hidden;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu {
    width: 100%;
    text-align: right; /* Alinha o texto à direita */
    
 
    
}

nav img {
    width: 150px;
    border-radius: 20px;
    padding: 20px;
}

.menu ul {
    list-style: none;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 50px;
    font-size: 16px;
}

.menu ul li a {
    font-family: "Inter Tight", sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;
    
}

.menu ul li a:hover {
    border-bottom: 1px solid white;
    color: #6ADAB8;
    transition: .9s;
}

.botao-contato {
    display: inline-block; /* Permite que o botão compartilhe a linha com outros elementos */
    margin-right: 25px;
    
    
    
}

.botao-contato button {
    background-color: #535EC2;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: "Inter Tight", sans-serif;
}

.botao-contato button:hover {
    background-color:#737ee2 ;
}

.center {
    background-color: rgba(128, 128, 128, 0.178);
    max-width: 1400px;
    height: 1200px;
   
   
    width: 100%; /* Ocupa toda a largura disponível */
    margin: 20px 0; /* Ajusta a margem para centralizar verticalmente */
    
    
}

.inicio {
    display: flex;
}

.eu-sou {
    
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 60px 100px;
    line-height: 79px;
    
}

.eu-sou h4 {
    font-size: 34px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    margin-bottom: -25px;
}

.eu-sou h2 {
    font-size: 50px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: normal;
}

.eu-sou h1 {
    font-size: 100px ;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    white-space: nowrap; /* Impede a quebra de linha */
    
}

.icon-coder {
    position: relative;
    margin: 30px 166px ;
    
  
}

.icon-coder img {
    width: 300px;
    
    
    
}

#botao-projetos {
    width: 165px;
    height: 39px;
    display: block;
    position: relative;
    margin: 307px -631px;
    border-radius: 7px;
    background-color:#535EC2 ;
    color: white;
    font-weight: bold;
    
    
}

#botao-projetos:hover {

    background-color: #7984e9;
    cursor: pointer;

}