@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}


:root {
    --color1:rgba(50, 50, 51, 0.884);
    --color2:rgba(0, 0, 0, 0.911);
    --font-principal: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color1);
}

nav ul {
    list-style: none;
    
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline-block;
    margin-right: 10px;
    
    
}

nav a {
    color: white;
    text-decoration: none;
}


