@charset "UTF-8";

*{
    margin: 0;
    padding: 0px;
}


:root {
    --color1:rgba(50, 50, 51, 0.884);
    --color2:rgba(0, 0, 0, 0.911);
    --font-principal: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color1);
    
}

img {
    width: 600px;
    display: block;
    position: absolute;
    margin-left: 55%;
    margin-top: 100px;
    
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 10px;
    
}

nav li {
    display: inline-block;
    margin-right: 10px;
    
    
}

nav a {
    color: white;
    text-decoration: none;
}

#txt-perfil {
    background-color: aqua;
    width: 900px;
    margin-left: 80px;
    margin-top: 280px;
}


