body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Fundo azul escuro */
    color: #fff; /* Texto branco */
}

header {
    text-align: center;
    padding: 2em;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu {
    width: 100%;
    text-align: right; /* Alinha o texto à direita */
    
 
    
}

nav img {
    width: 150px;
    border-radius: 20px;
    padding: 20px;
}

.menu ul {
    list-style: none;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 50px;
    font-size: 16px;
}

.menu ul li a {
    font-family: "Inter Tight", sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;
    
}

.menu ul li a:hover {
    border-bottom: 1px solid white;
    color: #6ADAB8;
    transition: .9s;
}

.botao-contato {
    display: inline-block; /* Permite que o botão compartilhe a linha com outros elementos */
    margin-right: 25px;
    
    
    
}

.botao-contato button {
    background-color: #535EC2;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: "Inter Tight", sans-serif;
}

.botao-contato button:hover {
    background-color:#737ee2 ;
}


.apresentacao {
    max-width: 1200px;
    margin: 0 auto;

}

.apresentacao p {
    font-size: 22px;
    text-align: justify;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

.project-card {
    width: 300px;
    margin: 1em;
    padding: 1em;
    background-color: #6a5acd; /* Cor roxa */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* Adicionando efeito de transição */
    cursor: pointer;
}

.project-card:hover {
    transform: scale(1.05); /* Efeito de aumento no hover */
}

footer {
    text-align: center;
    padding: 2em;
    background-color: #1e1e1e; /* Fundo do rodapé */
}

button {
    background-color: #3498db; /* Cor de fundo azul */
    color: #fff; /* Texto branco */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Adicionando efeito de transição */
}

button:hover {
    background-color: #2075c1; /* Cor de fundo azul mais escura no hover */
}
